

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.color1{
	background-color: tomato;
}

.color2{
	background-color: lightblue;
}

.cssicon{
	font-size: 30px;
	color:red;
}













